<!--==================== Contact Us ====================-->
<section class="space">
    <div class="container container-custom">
        <div class=" row">
        <div class="col-md-8">
            <div class="map-img-wrap">
                <img src="assets/images/contact-map.png" class="img-fluid" alt="#">
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i></li>
                    <li><i class="fas fa-map-marker-alt"></i></li>
                    <li><i class="fas fa-map-marker-alt"></i></li>
                    <li><i class="fas fa-map-marker-alt"></i></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-box">
                <p>Lorem ipsum dolor sit amet consect etur adipi sicing elit, sed do eiusm</p>
                <hr>
                <div class="contact-title">
                    <h4>İletişim Bilgileri</h4>
                    <i class="fas fa-phone-volume"></i>
                    <div class="contact-title_icon">
                        <p>Telefon</p>
                        <a href="tel:+90 535 060 03 09"><h6>+90 535 060 03 09</h6></a>
                      </div>
                </div>
                <div class="contact-title">
                    <i class="fas fa-envelope"></i>
                    <div class="contact-title_icon">
                        <p>Email</p>
                        <a href="mailto:info@galeno.com"><h6>info@galeno.com</h6></a>
                      </div>
                </div>
                <hr>
            </div>
            <div class="contact-box">
                <div class="contact-title">
                    <h4>Merkez Ofis</h4>
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="contact-title_icon">
                        <p>Konum</p>
                        <a target="_blank" href="https://goo.gl/maps/pRvPsBdPWiuUYfHP6"
                          ><h6>
                            Büyükdere Caddesi No:199,<br />
                            Levent 199, İstanbul,<br />
                            34330 İstanbul, Türkiye
                          </h6></a
                        >
                      </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--//End Contact Us -->