<!--==================== Search Form ====================-->
<section class="space sub-header">
  <div class="container container-custom">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-header_content">
          <app-search-form></app-search-form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//End Search Form -->

<!--==================== Search Page ====================-->
<section class="space">
  <div class="container container-custom">
    <div class="row">
      <div class="col-md-9">
        <div  class="blog-wrap">






          <div *ngFor="let doctor of doctors" class="blog-row-block">
            <div class="row">
              <div class="col-md-2">
                <div class="blog-img">
                  <img
                    src="assets/images/blog-img1.jpg"
                    class="img-fluid"
                    alt="#"
                  />
                </div>
              </div>
              <div class="col-md-7 d-flex align-items-center">
                <div class="blog-content">
                  <span>Yaş | {{doctor.age}}</span>
                  <h4>{{doctor.doctorName}} {{doctor.doctorSurname}}</h4>
                  <h6>Psikoloji</h6>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center">
                <div class="blog-read-more">
                  <p>
                    <i class="far fa-eye"></i>233 <span>|</span>
                    <i class="far fa-comment"></i>33
                  </p>
                  <a href="#" class="btn btn-primary">Randevu Al</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6 class="addresstitle">{{doctor.companyName}}</h6>
                <div class="tab">
                  <button
                    class="tablinks active"
                    onclick="openCity(event, 'Address')"
                  >
                    Adres
                  </button>
                  <button class="tablinks" onclick="openCity(event, 'Languages')">
                    Diller
                  </button>
                  <button
                    class="tablinks"
                    onclick="openCity(event, 'Contact')"
                  >
                    İletişim
                  </button>
                </div>
                <!-- Tab content -->
                <div id="Address" class="tabcontent" style="display: block">
                  <p>
                    {{doctor.address}}
                  </p>
                </div>
                <div id="Languages" class="tabcontent">
                  <p>Türkçe</p>
                </div>
                <div id="Contact" class="tabcontent">
                  <p>{{doctor.address}}</p>
                </div>
              </div>
            </div>
          </div>







          <div class="blog-row-block">
            <div class="row">
              <div class="col-md-2">
                <div class="blog-img">
                  <img
                    src="assets/images/blog-img1.jpg"
                    class="img-fluid"
                    alt="#"
                  />
                </div>
              </div>
              <div class="col-md-7 d-flex align-items-center">
                <div class="blog-content">
                  <span>Katılma Tarihi | 22.10.2022</span>
                  <h4>Soner Turan</h4>
                  <h6>Psikoloji</h6>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center">
                <div class="blog-read-more">
                  <p>
                    <i class="far fa-eye"></i>233 <span>|</span>
                    <i class="far fa-comment"></i>33
                  </p>
                  <a href="#" class="btn btn-primary">Randevu Al</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6 class="addresstitle">Özel Şişli Kolan Hastanesi</h6>
                <div class="tab">
                  <button
                    class="tablinks active"
                    onclick="openCity(event, 'Adres')"
                  >
                    Adres
                  </button>
                  <button class="tablinks" onclick="openCity(event, 'Diller')">
                    Diller
                  </button>
                  <button
                    class="tablinks"
                    onclick="openCity(event, 'Iletisim')"
                  >
                    İletişim
                  </button>
                </div>
                <!-- Tab content -->
                <div id="Adres" class="tabcontent" style="display: block">
                  <p>
                    Büyükdere Caddesi No:199, Levent 199, İstanbul, 34330
                    İstanbul, Türkiye
                  </p>
                </div>
                <div id="Diller" class="tabcontent">
                  <p>Türkçe</p>
                </div>
                <div id="Iletisim" class="tabcontent">
                  <p>Sonerturan609@gmail.com.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-row-block">
            <div class="row">
              <div class="col-md-2">
                <div class="blog-img">
                  <img
                    src="assets/images/blog-img1.jpg"
                    class="img-fluid"
                    alt="#"
                  />
                </div>
              </div>
              <div class="col-md-7 d-flex align-items-center">
                <div class="blog-content">
                  <span>Katılma Tarihi | 22.10.2022</span>
                  <h4>Soner Turan</h4>
                  <h6>Psikoloji</h6>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center">
                <div class="blog-read-more">
                  <p>
                    <i class="far fa-eye"></i>233 <span>|</span>
                    <i class="far fa-comment"></i>33
                  </p>
                  <a href="#" class="btn btn-primary">Randevu Al</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h6 class="addresstitle">Özel Şişli Kolan Hastanesi</h6>
                <div class="tab">
                  <button
                    class="tablinks active"
                    onclick="openCity(event, 'Adres')"
                  >
                    Adres
                  </button>
                  <button class="tablinks" onclick="openCity(event, 'Diller')">
                    Diller
                  </button>
                  <button
                    class="tablinks"
                    onclick="openCity(event, 'Iletisim')"
                  >
                    İletişim
                  </button>
                </div>
                <!-- Tab content -->
                <div id="Adres" class="tabcontent" style="display: block">
                  <p>
                    Büyükdere Caddesi No:199, Levent 199, İstanbul, 34330
                    İstanbul, Türkiye
                  </p>
                </div>
                <div id="Diller" class="tabcontent">
                  <p>Türkçe</p>
                </div>
                <div id="Iletisim" class="tabcontent">
                  <p>Sonerturan609@gmail.com.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <div class="sidebar-category">
          <h4>Servisler</h4>
          <hr />
          <ul>
            <li>
              <a href="#">
                <img src="assets/images/service-icon1.png" alt="#" />
                <span>Dental Care</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon2.png" alt="#" />
                <span>Eye/Nose Care</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon3.png" alt="#" />
                <span>Allergic Issue</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon4.png" alt="#" />
                <span>Cardiology Service</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon5.png" alt="#" />
                <span>Neurology Sargery</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon6.png" alt="#" />
                <span>Orthology</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/service-icon4.png" alt="#" />
                <span>Lab Services</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="contact-box mb-4">
          <h4>İletişim</h4>
          <hr />
          <div class="contact-title">
            <i class="fas fa-phone-volume"></i>
            <div class="contact-title_icon">
              <p>Telefon</p>
              <a href="tel:+90 535 060 03 09"><h6>+90 535 060 03 09</h6></a>
            </div>
          </div>
          <div class="contact-title">
            <i class="fas fa-envelope"></i>
            <div class="contact-title_icon">
              <p>Email</p>
              <a href="mailto:info@galeno.com"><h6>info@galeno.com</h6></a>
            </div>
          </div>
          <div class="contact-title">
            <i class="fas fa-map-marker-alt"></i>
            <div class="contact-title_icon">
              <p>Konum</p>
              <a target="_blank" href="https://goo.gl/maps/pRvPsBdPWiuUYfHP6"
                ><h6>
                  Büyükdere Caddesi No:199,<br />
                  Levent 199, İstanbul,<br />
                  34330 İstanbul, Türkiye
                </h6></a
              >
            </div>
          </div>
        </div>
        <div class="contact-box mb-4">
          <h4>İndir</h4>
          <hr />
          <div class="contact-title">
            <div class="alert alert-success" role="alert">
              <img src="assets/images/002-pdf.svg" class="img-fluid" alt="#" />
              <p>Our Brouchure</p>
              <span>50kb</span>
            </div>
            <div class="alert alert-warning" role="alert">
              <img src="assets/images/003-doc.svg" class="img-fluid" alt="#" />
              <p>Information Sheet</p>
              <span>120kb</span>
            </div>
          </div>
        </div>
        <div class="contact-box mb-4">
          <h4>Son Haberler</h4>
          <hr />
          <div class="blog-sidebar_content">
            <a href="#" class="thumbnail-wrap">
              <img src="assets/images/thambnail-1.jpg" alt="#" />
              <div class="thumbnail-hover">
                <i class="fas fa-external-link-alt"></i>
              </div>
            </a>
            <div class="thumbnail-text_wrap">
              <p>
                Lorem ipsum dolor sit amet,<br />
                consectetur..
              </p>
              <span>June 25, 2019</span>
            </div>
          </div>
          <div class="blog-sidebar_content">
            <a href="#" class="thumbnail-wrap">
              <img src="assets/images/thambnail-2.jpg" alt="#" />
              <div class="thumbnail-hover">
                <i class="fas fa-external-link-alt"></i>
              </div>
            </a>
            <div class="thumbnail-text_wrap">
              <p>
                Lorem ipsum dolor sit amet,<br />
                consectetur..
              </p>
              <span>June 25, 2019</span>
            </div>
          </div>
          <div class="blog-sidebar_content">
            <a href="#" class="thumbnail-wrap">
              <img src="assets/images/thambnail-3.jpg" alt="#" />
              <div class="thumbnail-hover">
                <i class="fas fa-external-link-alt"></i>
              </div>
            </a>
            <div class="thumbnail-text_wrap">
              <p>
                Lorem ipsum dolor sit amet,<br />
                consectetur..
              </p>
              <span>June 25, 2019</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//End Search Page -->
