<ul class="booking-form">
    <li><input type="text" class="form-control" placeholder="Uzmanlık Alanı Seçin"><i class="fas fa-user"></i></li>
    <li><input type="text" class="form-control" placeholder="Şehir Seçin"><i class="fas fa-map-marker-alt"></i></li>
    <li>
        <select class="custom-select form-control">
            <option selected="">Dil Seçin</option>
            <option value="1">Türkçe</option>
            <option value="2">İngilizce</option>
            <option value="3">Almanca</option>
        </select>
    </li>
    <li class="form-btn">
        <i class="fas fa-search textwhite"></i>
        <a href="#" class="btn btn-success">ARA</a>
    </li>
</ul>