<!--==================== About Section ====================-->
<section class="about-section">
  <div class="container container-custom">
    
    <div class="row space">
      <!-- Service Icon -->
      <div class="col-md-4">
        <div class="service-thumbnail flex-fill">
          <img
            src="assets/images/service-thumbnail03.png"
            class="img-fluid"
            alt="#"
          />
          <div class="service-thumbnail_text">
            <h4>Doktor veya uzman bulun</h4>
            <p>
              181 000'den fazla doktor ve uzman arasından seçim yapın. Diğer
              hastaların görüşlerini inceleyin.
            </p>
          </div>
        </div>
      </div>
      <!-- Service Icon 02 -->
      <div class="col-md-4">
        <div class="service-thumbnail flex-fill">
          <img
            src="assets/images/service-thumbnail02.png"
            class="img-fluid"
            alt="#"
          />
          <div class="service-thumbnail_text">
            <h4>Kolaylıkla randevu alın</h4>
            <p>
              Size uygun tarih ve saati seçin, bilgilerinizi girin ve onaylayın.
            </p>
          </div>
        </div>
      </div>
      <!-- Service Icon 03 -->
      <div class="col-md-4">
        <div class="service-thumbnail border-0 flex-fill">
          <img
            src="assets/images/service-thumbnail01.png"
            class="img-fluid"
            alt="#"
          />
          <div class="service-thumbnail_text">
            <h4>Randevuları unutmayın</h4>
            <p>Randevularınızı otomatik sms ve e-mail ile hatırlatıyoruz.</p>
          </div>
        </div>
      </div>
      <!--//End Service Icon -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- About -->
        <div class="about-video_block">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <a
                href="https://www.youtube.com/watch?v=pBFQdxA-apI"
                class="video-play-img popup-youtube"
              >
                <img
                  src="assets/images/about-img.jpg"
                  class="img-fluid w-100"
                  alt="#"
                />
                <div class="video-play-btn">
                  <div class="video-play-icon">
                    <i class="fas fa-play"></i>
                  </div>
                  <span>PLAY VIDEO</span>
                </div>
              </a>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="video-play-text">
                <h2>Short Story About Mededin Clinic.</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eius mod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
                <p>
                  Sed do eius mod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostru
                  <a href="#">Readmore</a>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="facilities blue">
                      <h3>1000+</h3>
                      <span>Happy Patients</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="facilities green">
                      <h3>215+</h3>
                      <span>Expert Doctors</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="facilities yellow">
                      <h3>315+</h3>
                      <span>Hospital Rooms</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="facilities gray">
                      <h3>106+</h3>
                      <span>Award Winner</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--//End About -->
      </div>
    </div>
  </div>
</section>
<!--//End About Section -->
