<!--==================== Footer ====================-->
<footer>
  <div class="container container-custom">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="foot-contact-block">
          <a class="navbar-brand" href="index.html"
            ><img src="assets/images/foot-logo.png" class="img-fluid" alt="#"
          /></a>
          <p>
            Lorem ipsum dolor sit amet, consect <br />
            etur adipisicing elit, sed do eius mod <br />
            tempor incididunt ut labore et dolore<br />
            magna aliqua. Ut enim ad minim
          </p>
          <a href="tel:+90 535 060 03 09">
            <h4><i class="fas fa-phone"></i>+90 535 060 03 09</h4>
          </a>
          <a href="mailto:info@galeno.com">
            <h4><i class="far fa-envelope"></i>info@galeno.com</h4>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 offset-lg-1">
        <div class="foot-link-box">
          <h4>Hızlı Linkler</h4>
          <ul>
            <li>
              <a href="about-us"
                ><i class="fas fa-angle-double-right"></i>Hakkımızda</a
              >
            </li>
            <li>
              <a href="about-us/#our-mission"
                ><i class="fas fa-angle-double-right"></i>Misyonumuz</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Servislerimiz</a
              >
            </li>
            <li>
              <a href="blog"
                ><i class="fas fa-angle-double-right"></i>Bloglar & Haberler</a
              >
            </li>
            <li>
              <a href="contact-us"
                ><i class="fas fa-angle-double-right"></i>Bize Ulaşın</a
              >
            </li>
            <li>
              <a href="#"><i class="fas fa-angle-double-right"></i>SSS</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="foot-link-box">
          <h4>Servislerimiz</h4>
          <ul>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Pediatrics</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Dermatology</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Cardiology</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Psychological</a
              >
            </li>
            <li>
              <a href="#"><i class="fas fa-angle-double-right"></i>Surgery</a>
            </li>
            <li>
              <a href="#"
                ><i class="fas fa-angle-double-right"></i>Family Medicine</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-2 offset-lg-1">
        <div class="foot-link-box footlink-box_btn">
          <a href="#" class="btn btn-outline-success">Doktor Bul</a>
          <a href="#" class="btn btn-outline-success">Kariyer</a>
          <a href="#" class="btn btn-outline-success">Bülten</a>
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>© Galeno 2022 All right reserved.</p>
          <p class="designbyP">Design by</p>
          <a href="https://healthvision.com.tr/">Health Vision</a>
          <a href="#" id="scroll"><i class="fas fa-angle-double-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--//End Footer -->
