<!--==================== Error ====================-->
<section class="error d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="error-box">
                    <h1>404</h1>
                    <h2>Uh-Oh...Sayfa Bulunamadı</h2>
                    <p>Geçici olan bazı sunucu problemleri fark ettik ve
                         üzerinde çalışıyoruz. Lütfen daha sonra tekrar deneyin veya bize ulaşın... </p>
                    <a href="index.html" class="btn btn-dark">Anasayfa</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Error -->