<!--==================== Blog List ====================-->
<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-8">
                <form action="#">
                    <div class="blog-list">
                        <img src="assets/images/blog-img.jpg" class="img-fluid" alt="#">
                        <div class="blog-date">
                            <h3>05</h3>
                            <span>JUN</span>
                        </div>
                        <div class="blog-text-wrap">
                            <div class="blog-comment-top">
                                <p><i class="far fa-user"></i>Jhone Doe <span>|</span> <i class="far fa-user"></i>Jhone Doe</p>
                                <label>Health Tips</label>
                            </div>
                            <h3>Things you may not know about medicaid den..</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudt. </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    <div class="blog-list">
                        <img src="assets/images/blog-img-full1.jpg" class="img-fluid" alt="#">
                        <div class="blog-date">
                            <h3>05</h3>
                            <span>JUN</span>
                        </div>
                        <div class="blog-text-wrap">
                            <div class="blog-comment-top">
                                <p><i class="far fa-user"></i>Jhone Doe <span>|</span> <i class="far fa-user"></i>Jhone Doe</p>
                                <label>Health Tips</label>
                            </div>
                            <h3>Things you may not know about medicaid den..</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudt. </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    <div class="blog-list">
                        <img src="assets/images/blog-img-full2.jpg" class="img-fluid" alt="#">
                        <div class="blog-date">
                            <h3>05</h3>
                            <span>JUN</span>
                        </div>
                        <div class="blog-text-wrap">
                            <div class="blog-comment-top">
                                <p><i class="far fa-user"></i>Jhone Doe <span>|</span> <i class="far fa-user"></i>Jhone Doe</p>
                                <label>Health Tips</label>
                            </div>
                            <h3>Things you may not know about medicaid den..</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudt. </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Search</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <div class="blog-sidebar_content blog-sidebar_search">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here" id="exampleFormControlInput1">
                                    <i class="fas fa-search"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Popular Posts</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <div class="blog-sidebar_content">
                            <a href="#" class="thumbnail-wrap">
                                <img src="assets/images/thambnail-1.jpg" alt="#">
                                <div class="thumbnail-hover">
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </a>
                            <div class="thumbnail-text_wrap">
                                <p>Lorem ipsum dolor sit amet,<br> consectetur..
                                </p>
                                <span>June 25, 2019</span>
                            </div>
                        </div>
                        <div class="blog-sidebar_content">
                            <a href="#" class="thumbnail-wrap">
                                <img src="assets/images/thambnail-2.jpg" alt="#">
                                <div class="thumbnail-hover">
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </a>
                            <div class="thumbnail-text_wrap">
                                <p>Lorem ipsum dolor sit amet,<br> consectetur..
                                </p>
                                <span>June 25, 2019</span>
                            </div>
                        </div>
                        <div class="blog-sidebar_content">
                            <a href="#" class="thumbnail-wrap">
                                <img src="assets/images/thambnail-3.jpg" alt="#">
                                <div class="thumbnail-hover">
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </a>
                            <div class="thumbnail-text_wrap">
                                <p>Lorem ipsum dolor sit amet,<br> consectetur..
                                </p>
                                <span>June 25, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Categories</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_category">
                            <li><a href="#">Dental Care</a> <span>15</span></li>
                            <li><a href="#">Eye Care</a> <span>11</span></li>
                            <li><a href="#">Allergic Issue</a> <span>6</span></li>
                            <li><a href="#">Cardiology</a> <span>9</span></li>
                            <li><a href="#">Neurology Sargery</a> <span>8</span></li>
                            <li><a href="#">Allergic Issue</a> <span>1</span></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Tags</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_tags">
                            <li><a href="#">Medical</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Doctor</a></li>
                            <li><a href="#">Health Lifestyle</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Eye Care</a></li>
                            <li><a href="#">Allergic</a></li>
                            <li><a href="#">Diagnosis</a></li>
                            <li><a href="#">Rehabitation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Follow Us</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_social">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-join_us">
                    <div class="blog-join_us-content">
                        <h6>AD BANNER</h6>
                        <h3>JOIN US</h3>
                        <p>Lorem ipsum dolor sit amet conse</p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Blog List -->