<!--==================== Who We Are ====================-->
<section class="space-mb">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="video-play-text">
                    <span>Biz Kimiz -----</span>
                    <h2>Gelişmiş Teknolojilerimiz Var</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <hr />
                    <div class="newsletter-subscribe">
                        <h4>Haber bültenimize abone ol</h4>
                        <div class="newsletter-subscribe_form">
                            <input type="text" class="form-control" placeholder="E Mail" />
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-img-block">
                    <img src="assets/images/play-img.png" class="img-fluid" alt="#" />
                    <a class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                        <span></span>
                    </a>
                    <div id="video-overlay" class="video-overlay">
                        <a class="video-overlay-close">&times;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Who We Are -->