<!--==================== Blog ====================-->
<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <div class="sub-title_center">
                    <span><i>---- Blog ----</i></span>
                    <h2>Son Haberler ve Etkinlikler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="blog-wrap">
                    <div class="blog-row-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="blog-img">
                                    <img src="assets/images/blog-img1.jpg" class="img-fluid" alt="#" />
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="blog-content">
                                    <span>Ocak 12 2019 | By Admin</span>
                                    <h3>
                                        Finding meaning in the intersection <br /> between marriage and medicine...
                                    </h3>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="blog-read-more">
                                    <p><i class="far fa-eye"></i>233 <span>|</span> <i class="far fa-comment"></i>33
                                    </p>
                                    <a href="#" class="btn btn-primary">DEVAMINI OKU</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-row-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="blog-img">
                                    <img src="assets/images/blog-img2.jpg" class="img-fluid" alt="#" />
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="blog-content">
                                    <span>Temmuz 22 2019 | By Admin</span>
                                    <h3>
                                        Telemedicine overprescribes antib iotics:<br /> Are you really receiving...
                                    </h3>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="blog-read-more">
                                    <p><i class="far fa-eye"></i>233 <span>|</span> <i class="far fa-comment"></i>33
                                    </p>
                                    <a href="#" class="btn btn-primary">DEVAMINI OKU</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-row-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="blog-img">
                                    <img src="assets/images/blog-img3.jpg" class="img-fluid" alt="#" />
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="blog-content">
                                    <span>Aralık 02 2020 | By Admin</span>
                                    <h3>
                                        23-year-old woman with 2 weeks of painful <br /> lumps on her legs and..
                                    </h3>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="blog-read-more">
                                    <p><i class="far fa-eye"></i>233 <span>|</span> <i class="far fa-comment"></i>33
                                    </p>
                                    <a href="#" class="btn btn-primary">DEVAMINI OKU</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-row-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="blog-img">
                                    <img src="assets/images/blog-img4.jpg" class="img-fluid" alt="#" />
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="blog-content">
                                    <span>Kasım 14 2019 | By Admin</span>
                                    <h3>
                                        Keep insulting doctors, and good luck <br /> finding a physician in 10 days...
                                    </h3>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="blog-read-more">
                                    <p><i class="far fa-eye"></i>233 <span>|</span> <i class="far fa-comment"></i>33
                                    </p>
                                    <a href="#" class="btn btn-primary">DEVAMINI OKU</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mt-5">
                    <a href="#" class="btn btn-outline-primary">Tüm Blogları Görüntüle</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Blog -->